.ques-1 {
    width: 800px;
    height: 250px;
    border: 2px solid #0000006b;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 10px 20px #00000021;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.ques-1 h3 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ques-1 p {
    font-size: 18px;
    width: 700px;
    text-align: left;
    padding-left: 35px;
    color: white;
    margin-top: 30px;
}

.ques-2 {
    width: 800px;
    height: 250px;
    border: 2px solid #0000006b;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 10px 20px #00000021;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.ques-2 h3 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ques-2 p {
    font-size: 18px;
    width: 700px;
    text-align: left;
    padding-left: 35px;
    color: white;
    margin-top: 30px;
}

.ques-3 {
    width: 800px;
    height: 300px;
    border: 2px solid #0000006b;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 10px 20px #00000021;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.ques-3 h3 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ques-3 p {
    font-size: 18px;
    width: 700px;
    text-align: left;
    padding-left: 35px;
    color: white;
    margin-top: 30px;
}

.ques-4 {
    width: 800px;
    height: 250px;
    border: 2px solid #0000006b;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 10px 20px #00000021;
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.ques-4 h3 {
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.ques-4 p {
    font-size: 18px;
    width: 700px;
    text-align: left;
    padding-left: 35px;
    color: white;
    margin-top: 30px;
}